:root {
  --dark-turq: #194759;
  --turq: #7EBFB3;
  --light-turq: #A7F2E4;
  --white: #EBF2F1;
  --desat-green: #4F7369;
  --black: #111212;
}

.default-btn {
  background-color: var(--turq);
  border: 2px solid var(--dark-turq);
  padding: 8px 16px;
  border-radius: 32px;
  transition: color .25s ease, background-color .25s ease;
  cursor: pointer;
  a:hover {
    text-decoration: none;
  }
}

.default-btn:hover {
  h2, h3, h4, h5, p {
    color: var(--turq);
  }

  background-color: var(--dark-turq);

}

.anti-default-white-btn {
  background-color: var(--dark-turq);
  border: 2px solid var(--dark-turq);
  padding: 8px 16px;
  border-radius: 8px;
  transition: color .25s ease, background-color .25s ease;
  cursor: pointer;
  h2, h3, h4, h5, p {
    color: var(--white);
  }
  a:hover {
    text-decoration: none;
  }
  &:hover {
    background-color: var(--white);
    h2, h3, h4, h5, p {
      color: var(--dark-turq);
    }
  }
}

.anti-default-btn {
  background-color: var(--dark-turq);
  border: 2px solid var(--dark-turq);
  padding: 8px 16px;
  border-radius: 8px;
  transition: color .25s ease, background-color .25s ease;
  cursor: pointer;
  h2, h3, h4, h5, p {
    color: var(--turq);
  }
  a:hover {
    text-decoration: none;
  }
  &:hover {
    background-color: var(--turq);
    h2, h3, h4, h5, p {
      color: var(--dark-turq);
    }
  }
}
