/* Styling for fonts like font-family and sizing */
@import '../fonts.css';

/* Button styling */
@import '../buttons/buttons.css';

/* Reusable font classes */
@import '../defaults.css';


// Icons
.black-icon {
  color: var(--black);


  &:hover {
    color: var(--grey);
  }
}

// End of icons
/* Colors
Re-use these colors throughout the css so they can be changed and for clarity
 */

:root {
  --dark-turq: #194759;
  --turq: #7AC2BB;
  --light-turq: #A7F2E4;
  --white: #EBF2F1;
  --black: #111212;
  --grey: #8E8E8E;
  --desat-green: #4F7369;
  --red: #CB4343;
  --light-red: #f6bebe;
  --green: #43D262;
  --light-green: #cbf6d4;
  --yellow: #C7D243;
  --light-yellow: #FEFFD7;
}

/* Inputs */

.error {
  color: var(--red);
}

.error-border {
  border: 2px solid var(--red);
}

input, textarea {
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid transparent;
  background-color: var(--white);
  padding: 8px 8px;
  max-width: 400px;
  width: 100%;

  &:focus {
    outline: none;
    border: 2px solid var(--turq);
  }
}

input[type=date] {
  max-width: 200px;
}
.input-field {
  margin-bottom: 24px;
}

/* End of inputs */

label h5 {
  margin-bottom: 8px;
}

/* End of inputs */

.white {
  color: var(--white);
}

.green {
  color: var(--green);
}

/* End of colors */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--turq);
}

.header {
  padding: 16px 32px;
  @media only screen and (max-width: 400px) {
    padding: 8px 16px;

  }
}

.mobile-nav {

  position: relative;

  .nav-links {
    transition: top .25s ease, opacity .25s ease;
    //top: -100%;

    opacity: 0;
    display: flex;
    background-color: var(--light-turq);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 8px 16px;
    border-radius: 4px;
    position: absolute;
    width: 200px;

    align-items: flex-end;
    flex-direction: column;
    left: calc(-200px + 100%) ;
  }
}

.show-nav {
  //top: 0;
  opacity: 1 !important;

}

.hamburger-icon {
  width: 40px;
  height: 40px;
  background-color: var(--light-turq);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition:  border .25s ease;
  &:hover {
  border: 2px solid var(--dark-turq);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
a.no-underline{
  text-decoration: none;
}
.hero {
  max-width: 1200px;
  margin: 0 auto;

}

.hero > * {
  width: 100%;
  flex-basis: 50%;
  width: 50%;

}


.default-page {
  padding: 32px;

}

/* Responsive Design */
@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  .hero > * {
    width: 100%;
  }

  .default-page {
    padding: 16px;
  }
}

.desktop {
  @media only screen and (max-width:600px) {
    display: none;
  }
}

.mobile {
  display: none;
  @media only screen and (max-width: 600px) {
    display: block;
  }
}

/* End of Responsive Design */

/* Signup page */
.input-form {
  background-color: #fff;
  border-radius: 16px;
  max-width: 800px;
  padding: 5% 10%;
  margin: 10% auto;

}

/* End of signup page */

/* Reusable */


/* End of Reusable */

.bold {
  font-weight: bold;
}

// Popup
.popup {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 8px 12px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  border: 1px solid var(--red);

  p {
    color: var(--red);
  }

}

// End of popup

// Tasks page

.circle {
  width: 8px;
  height: 8px;
  margin-right: 16px;
  border-radius: 50%;
}

.circle-red {
  @extend .circle;
  background-color: var(--red);
  outline: 8px solid var(--light-red);
}


.circle-yellow {
  @extend .circle;
  background-color: var(--yellow);
  outline: 8px solid var(--light-yellow);
}


.circle-green {
  @extend .circle;
  background-color: var(--green);
  outline: 8px solid var(--light-green);
}

.task-header {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.task-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  @media only screen and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  & > :last-child {
    grid-column: 1/3;
  }

  }
  @media only screen and (max-width: 450px) {
    grid-template-columns: repeat(1, 1fr);
    & > :last-child {
      grid-column: auto;
    }

  }
}


.task-holder {

  background-color: var(--white);
  border-radius: 12px;
  padding: 12px 12px;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 32px;
  justify-content: center;
  @media only screen and (max-width:1000px) {
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 16px;
  }
  @media only screen and (max-width:450px) {
    margin-right: 0;
    margin-left: 0;
  }

  .task {

    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 16px;
    background-color: #fff;
    padding: 8px 12px;
    margin-bottom: 12px;
    transition: background-color .25s ease;
    &:hover{
      background-color: var(--light-turq);

    }
    &:active {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
  }
}

.date {
  display: inline-block;
  width: auto;
  padding: 4px 8px;
  border-radius: 8px;
}

.date-upcoming {
  @extend .date;
  background-color: var(--light-yellow);
  p {
    color: var(--red);
  }
}

.time-state {
  padding: 8px 16px;
  background-color: var(--white);
  border-radius: 16px;
  flex-shrink: 0;

}
.date-today {
  @extend .date;
  background-color: var(--light-green);
  p {
    color: var(--green);
  }
}
.date-passed {
  @extend .date;
  background-color: var(--light-red);

  p {
    color: var(--red);
  }
}

select {
  padding: 4px 8px;
  border-radius: 8px;
  &:focus {
    outline: 2px solid var(--turq);
  }
}


.task {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px 24px;
  max-width: 600px;
}

.task-center {
  min-width: 600px;
  @media only screen and (max-width:660px) {
    min-width: 100%;
  }
}

.grey-line {
  width: 100%;
  height: 1px;
  background-color: var(--grey);
}

.icon {

  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: background-color .25s ease;
  &:hover {
    background-color: var(--light-turq);
  }
  &:active {
    background-color: var(--turq);
  }

}
// End of tasks page